src/Silex/MoocPersonalizationBundle/Resources/public/data/models/learnerMoocProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML SCHEMA for learner profile in a MOOC
Draft version, describing the main parts of the profile to include, some necessary elements and other optionals. Also gives space for the users (platform owner, teacher,...) to define some more indicators in this profile.


-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="learnerMoocProfile" type="learnerMoocProfileType">
		<xs:annotation>
			<xs:documentation>
				This schema contains the structure of information to correctly represent a learner in the case of a MOOC, in order to perform personnalization. Everything in the profile that describes the learner is called an "indicator".
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="learnerMoocProfileType">
		<xs:sequence>
			<xs:element name="learnerInformation" type="learnerInformationType"/>
			<xs:element name="knowledge" type="knowledgeType"/>
			<xs:element name="behaviour" type="behaviourType"/>
			<xs:element name="moocInteractions" type="moocInteractionsType"/>
			<xs:element name="resourcesInteractions" type="resourcesInteractionsType"/>
		</xs:sequence>
	</xs:complexType>
	<!--*************************************************************

Resources Interactions part

*****************************************************************
-->
	<xs:complexType name="resourcesInteractionsType">
		<xs:annotation>
			<xs:documentation>
				Contains indicators about the interactions of the learner with the platform. Interactions concern all the actions listed in the actions.xml file, described by actions.xsd.
				Every indicator in this section should correspond to the following statement :
				Action X on resource Y during the period of time Z, where X is an action (see actions.xsd), Y a resource as described in resources.xsd (ie a resource or a group of resources) and Z a given period of time (eg 'On Sundays', 'On Weekends'...) or a context which can be associated to a period of time by studying the traces (eg 'While the learner is taking a quiz', 'While the learner is doing a project'...)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resourcesConsultation">
				<xs:annotation>
					<xs:documentation>
						For each resource or category(ies) of resources you want to consider, contains the number of times it was consulted, the total duration of all consultations and, for the categories or the resources having any child, the distribution of consultation of all its children (eg for the 'course' resource (the root of the resources tree), you could have something like : learner spent 50% on the videos, 30% on the homework and 20% on the forum).
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resourceConsultation" type="resourceConsultationType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="forumInteraction">
				<xs:annotation>
					<xs:documentation>
						These indicators describe, sequence by sequence, the activity of the user on the forum : it indicates, for each week, the number of messages posted by the learner, and the number of topics he read.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="forumReading" type="forumReadingType"/>
						<xs:element name="forumParticipation" type="forumParticipationType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="quizInteraction">
				<xs:annotation>
					<xs:documentation>
						For each sequence of the MOOC, contains the number of (distinct) quiz questions that were submitted, and the percentage compared to the available questions for this sequence
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sequence" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>
									Name is the name given to the sequence ('Sequence1', 'S1',...), submittedQuestions the number of questions the user answered in this sequence (a question can't be counted twice, even if the user submits his answer twice), and questionsCompletion is the percentage of questions the user answered, compared to the total number of questions available (asked to the user) in this sequence.
								</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:string"/>
									<xs:element name="submittedQuestions" type="xs:integer"/>
									<xs:element name="questionsCompletion" type="percentageType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="consultationDuringHomework" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This indicator considers everything happening when the learner is doing a homework. It contains the total time spent on the homeworks, the time spent on other resources while doing homework, and the distribution between forum, wiki, courses, training exercises in this context.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="totalTimeOnHomework" type="xs:duration"/>
						<xs:element name="timeOtherResourcesDuringHw" type="xs:duration"/>
						<xs:element name="distribution">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="courseware" type="percentageType"/>
									<xs:element name="forum" type="percentageType"/>
									<xs:element name="wiki" type="percentageType"/>
									<xs:element name="exercises" type="percentageType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="realisationComparison" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						This indicator compares the number of realisations of 2 different resources. R1 and R2 contain each a resource (identified by their name, URI or any other identifier), and ratio is nbOfRealisation(R1) / nbOfRealisation(R2); eg if learner realised activity (resource) R1 3 times and R2 twice, ratio is 1.5.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="R1" type="xs:string"/>
						<xs:element name="R2" type="xs:string"/>
						<xs:element name="ratio" type="xs:float"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="customInteractionIndicator" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						This tag to be used to define your own interaction indicators, corresponding to the general form given in documentation (a resource - an action - a period of time). The value can be of any type you want, and the comment tag is available for you to describe the indicator.
						For example number of quizzes completed, number of times a learner clicks on the 'play' button for each video...
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:NMTOKEN"/>
						<xs:group ref="resourceIdOrCategories"/>
						<xs:group ref="actionIdOrCategories"/>
						<xs:group ref="periodOrContext"/>
						<xs:element name="value" type="xs:anyType"/>
						<xs:element name="comment" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="resourceConsultationType">
		<xs:sequence>
			<xs:group ref="resourceIdOrCategories"/>
			<xs:element name="nbConsultations" type="xs:integer">
				<xs:annotation>
					<xs:documentation>
						Number of times the learner consulted the resource
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="childrenConsultationsDistribution" type="childrenDistributionType" minOccurs="0"/>
			<xs:element name="duration" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Amount of time the learner spent on the resource
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="childrenDurationDistribution" type="childrenDistributionType" minOccurs="0"/>
			<xs:element name="completion" type="percentageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The percentage of completion of the resource completion (for example for a video :watching 75% of the video, for a text : reading 50% of it,...)
						If this resource is a node (ie a group of resources) or a category, this is the percentage of its children that have been consulted (eg : if this resource has 4 children, 3 of which having been consulted by the learner, then consultationPercentage = 75).
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="comparedPercentage" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>
					This indicator only concerns the categories.
						=total_time_spent_on_category(ies) / total_time_spent_on_all_resources_of_the_course
						or
						==total_number_of_consultations_on_category(ies) / total_number_of_consultations_on_all_resources_of_the_course
						(depending on the 'scale' attribute)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="percentageType">
							<xs:attribute name="scale" use="required">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="time"/>
										<xs:enumeration value="consultations"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="forumReadingType">
		<xs:sequence>
			<xs:element name="sequence" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Name is the name given to the sequence ('Sequence1', 'S1',...) and topicReadings is the number of topics read during this sequence by the learner.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="topicReadings" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="forumParticipationType">
		<xs:sequence>
			<xs:element name="sequence" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Name is the name given to the sequence ('Sequence1', 'S1',...) and postedMessages is the number of messages posted during this sequence by the learner. averageLength is the average length of the post (number of characters) posted by the learner during this week
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="postedMessages" type="xs:integer"/>
						<xs:element name="averageLength" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="childrenDistributionType">
		<xs:annotation>
			<xs:documentation>
				If you consider a category, or a resource having any child, distribution of time spent or number of consultations on each of the children or members(in %)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="childPercentage" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="resource" type="xs:NCName"/>
						<!--TODO : add dependency-->
						<xs:element name="percentage" type="percentageType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="categoriesConsultationType">
		<xs:sequence>
			<xs:element name="categories" type="xs:NMTOKENS"/>
			<!--TODO : add dependency (but maybe not for s)-->
		</xs:sequence>
	</xs:complexType>
	<!--Group helpers
-->
	<xs:simpleType name="percentageType">
		<xs:annotation>
			<xs:documentation>
			Contains a value in [0; 100] ie a percentage.
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="resourceIdOrCategories">
		<xs:annotation>
			<xs:documentation>
				This group enables to insert either a resource id or a category list which can be used to designate a set of resources (the resources having this category (or these categories) attached to them)
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="resourceId" type="xs:NCName"/>
			<xs:element name="resourceCategories" type="xs:NMTOKENS"/>
		</xs:choice>
	</xs:group>
	<xs:group name="actionIdOrCategories">
		<xs:annotation>
			<xs:documentation>
				This group enables to insert either an action id or a category list which can be used to designate a set of actions (the actions having this category (or these categories) attached to them)
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="actionId">
				<xs:simpleType>
					<xs:restriction base="xs:NCName">
						<xs:enumeration value="consultation"/>
						<xs:enumeration value="play"/>
						<xs:enumeration value="pause"/>
						<xs:enumeration value="seek_fwd"/>
						<xs:enumeration value="seek_bck"/>
						<xs:enumeration value="change_speed"/>
						<xs:enumeration value="answer_forum"/>
						<xs:enumeration value="new_thread_forum"/>
						<xs:enumeration value="answer_forum"/>
						<xs:enumeration value="vote_forum"/>
						<xs:enumeration value="save_quiz"/>
						<xs:enumeration value="reset_quiz"/>
						<xs:enumeration value="submit_quiz"/>
						<xs:enumeration value="show_answer"/>
						<xs:enumeration value="submit_assignment"/>
						<xs:enumeration value="save_assignment"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="actionCategories" type="xs:NMTOKENS"/>
		</xs:choice>
	</xs:group>
	<xs:group name="periodOrContext">
		<xs:annotation>
			<xs:documentation>
				This group enables to insert either a given period of time (which is a set of intervals between a begin and an end date), or a string describing a specific context (for example 'While the student is taking a quiz')
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="period">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="interval" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="beginDateTime" type="xs:dateTime"/>
									<xs:element name="endDateTime" type="xs:dateTime"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="context" type="xs:string"/>
		</xs:choice>
	</xs:group>
	<!--*************************************************************

Behaviour part

*****************************************************************
-->
	<xs:complexType name="behaviourType">
		<xs:annotation>
			<xs:documentation>
				This part of the profile describes the general behaviour of the learner that can mainly be infered from his activity patterns on the platform
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="studentPattern" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						According to http://mfeldstein.com/combining-mooc-student-patterns-graphic-stanford-analysis/, MOOC learner belong to 5 different major categories, no-show, completing (in which case they might be active or passive) , auditing, disengaging (activity of the learner decreases or even ceases, ie learner drops out) and sampling. Here is briefly a way to recognize the category the learner belongs to (of course a learner can change of category during the MOOC):
						-'noshow' : learner never connected after he registered (or almost never participated)
						-'active_completing' : learner completes more than 70% of assessments, has -posted more than 2 messages on the forum and does all assignments
						-'passive_completing' : learner completes more than 70% of assessments, has posted at most 1 message on the forum, and doesn't make all assignements
						-'auditing' : consults at least 50% of all course resources, but makes less than 70% of assessments
						-'disengaging' : student consulting less than 50% of course resources for a period of at least 1 sequence, while it was in one of the categories above before.
						-'disengaging-dropout' : student stopping all activity after some time, while it was in one of the categories above
						-'sampling' : student consults less than 50% of the course resources
						Like for any other qualitative indicator, you might also try to get direct information from the learner in order to know what his objectives and motivation are.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="noshow"/>
						<xs:enumeration value="active_completing"/>
						<xs:enumeration value="passive_completing"/>
						<xs:enumeration value="auditing"/>
						<xs:enumeration value="disengaging"/>
						<xs:enumeration value="disengaging_dropout"/>
						<xs:enumeration value="sampling"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dropoutFlag" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						This indicator is a boolean, true meaning that the student is likely to drop out of the course, false meaning there is no obvious alert.
						It can be computed thanks to the process described in the article Dropout Prediction in MOOCs using Learner Activity Features (Halawa - Greene - Mitchell)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IRLInteraction" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Boolean to know whether learner has had interactions with other learners directly (physically meeting)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="socialInteractions" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Booleans to know whether learner interacts with participants on other sites than the platform (eg social networks,...)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="socialInteraction">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:boolean">
										<xs:attribute name="socialTool">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="facebook"/>
													<xs:enumeration value="twitter"/>
													<xs:enumeration value="linkedin"/>
													<xs:enumeration value="google_plus"/>
													<xs:enumeration value="google_search_engine"/>
													<!-- Add whatever you want -->
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="forumBehaviour" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Indicator to characterize the learner's behaviour on the forum. Following are the possible categories, with values that can be used to chose the right one for each student :
						-absent : learner consulted forum at most twice
						-reader : learner consulted forum more than three times, but posted at most one message
						-actor : learner consulted forum more than three times and posted more than 2 messages.
						These given values are not definitive and can be adapted.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="absent"/>
						<xs:enumeration value="reader"/>
						<xs:enumeration value="actor"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="otherBehaviour" minOccurs="0">
				<!-- 
This part gives the possibility to add all the indicators you require and are able to calculate (or ask the learner to get the desired information) about the learner's behaviour. Here are some examples of aspects you might want to characterize :
-learner working method to learn
-learner method to solve problems
-learner's habits to organize his work (does he first look at the quiz, and then goes to the lesson ?)
-learner's sequence of resources consultation
-more detailed information about the learner's use of the forum and social interaction.
Other information has to be placed inside a tag (and not at the same level as above information), otherwise the schema is considered as "non deterministic" (the cause is the fact we use minOccurs="0") 
			-->
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--*************************************************************

Knowledge part

*****************************************************************
-->
	<xs:complexType name="knowledgeType">
		<xs:annotation>
			<xs:documentation>
				This part of the profil describes what the learner knows about the course which is being taught to him, and also how well he masters the tools he uses (or could be using) during the MOOC. <!-- This is of course an example of the way you can build this knowledge part - other patterns can be -->
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="courseKnowledge" type="courseKnowledgeType"/>
			<xs:element name="toolsKnowledge" type="toolsKnowledgeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="courseKnowledgeType">
		<xs:annotation>
			<xs:documentation>
				The course knowledge is organized as a tree, where leaves are units of knowledge (or anything else used to characterize what the learner gains from the course, like skills...) rated from 0 to 100. Nodes contain the average rate of all the children it has.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="knowledgeGroup" type="knowledgeGroupType"/>
			<xs:element name="spaceStructuring" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
					
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mentalImagesCreation" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
					
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mentalRotations" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>
					
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="knowledgeGroupType">
		<xs:sequence>
			<xs:element name="name" type="xs:NMTOKEN"/>
			<xs:element name="value" type="percentageType">
				<xs:annotation>
					<xs:documentation>
						Average of all the children
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence maxOccurs="unbounded">
				<!--comment the next tag for some tests that could be canceled because of recursivity -->
				<xs:element name="knowledgeGroup" type="knowledgeGroupType" minOccurs="0"/>
				<xs:element name="knowledgeUnit" type="knowledgeUnitType" minOccurs="0"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="knowledgeUnitType">
		<xs:sequence>
			<xs:element name="name" type="xs:NMTOKEN"/>
			<xs:element name="value" type="percentageType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="toolsKnowledgeType">
		<xs:annotation>
			<xs:documentation>
				Contains a list of pairs containing the name of  the tools taught and used in the course and the level of competency of the learner with this tool (for example an IDE, a calculator...).
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="knowledgeTool" type="knowledgeUnitType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--*************************************************************

LearnerInformation part

*****************************************************************
-->
	<xs:complexType name="learnerInformationType">
		<xs:annotation>
			<xs:documentation>
				This part of the profile contains general information about the learner, most of them are not related to the MOOC and learner's activity and should therefore, if required, be asked directly to the learner.
				All items are optional
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:NMTOKEN">
				<xs:annotation>
					<xs:documentation>
						An id to identify the learner.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="email" type="xs:string" minOccurs="0"/>
			<xs:element name="birthDate" type="xs:date" minOccurs="0"/>
			<xs:element name="sex" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="F"/>
						<xs:enumeration value="H"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="professionalSituation" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="active"/>
						<xs:enumeration value="unemployed"/>
						<xs:enumeration value="student"/>
						<xs:enumeration value="retiree"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="educationLevel" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Realized with ISCED 2011.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="primary"/>
						<xs:enumeration value="secondary"/>
						<xs:enumeration value="bachelor"/>
						<xs:enumeration value="master"/>
						<xs:enumeration value="doctoral"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="educationDomain" type="xs:string" minOccurs="0"/>
			<xs:element name="country" type="xs:string" minOccurs="0"/>
			<xs:element name="languages" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						List of languages the student knows, associated to his skill level (native - bilingual - fluent - moderate - basic - unskilled)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="language" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="xs:string"/>
									<xs:element name="skill">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="native"/>
												<xs:enumeration value="bilingual"/>
												<xs:enumeration value="fluent"/>
												<xs:enumeration value="moderate"/>
												<xs:enumeration value="unskilled"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="registrationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The date when the student registered to this particular MOOC
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="colourBlind" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Knowing whether the learner has problems with recognizing colors - an example of characteristics you can get in order to personalize the platform adn its functionalities.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="externalToolsKnowledge" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Information about the use of tools that aren't used in the course, but that can be useful for the student to interact with others, search more information...For each one : the name of the tool and a grade between 0 and 100 describing how well the student masters it.
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="externalTool" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="toolName">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="facebook"/>
												<xs:enumeration value="twitter"/>
												<xs:enumeration value="linkedin"/>
												<xs:enumeration value="google_plus"/>
												<xs:enumeration value="google_search_engine"/>
												<!-- Add whatever you want -->
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="grade" type="percentageType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="otherInformation" minOccurs="0">
				<!-- 
This part gives the possibility to add all the indicators you require.
Other information has to be placed inside a tag (and not at the same level as above information), otherwise the schema is considered as "non deterministic" (the cause is the fact we use minOccurs="0") 
			-->
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--*************************************************************

moocInteractions part

*****************************************************************
-->
	<xs:complexType name="moocInteractionsType">
		<xs:annotation>
			<xs:documentation>
				This part of the profile contains informations about the interactions of the learner with the platform in general (but not the interaction with resources themselves), the dynamics of learner's activity on the platform, like his connection days, hours...
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="activityDistributions" type="activityDistributionsType"/>
			<xs:element name="lastVisits" type="lastVisitsType"/>
			<xs:element name="preDeadlineSubmissionTime" type="preDeadlineSubmissionTimeType"/>
			<xs:element name="otherDynamics" minOccurs="0">
				<!-- 
This part gives the possibility to add all the indicators you require.
Other information has to be placed inside a tag (and not at the same level as above information), otherwise the schema is considered as "non deterministic" (the cause is the fact we use minOccurs="0") 
			-->
				<xs:complexType>
					<xs:sequence>
						<xs:any minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="activityDistributionsType">
		<xs:sequence>
			<xs:element name="activityPerHour" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The goal of this part is to show the distribution of time spent on the platform for each hour of a day(sum made on all days), and the distribution in terms of total number of actions performed by the learner on the platform. Thus for each hour of a day, 2 indicators are contained : the percentage concerning the time, and the percentage concerning the number of actions. Hours are identified by their attribute num.
						Note : if you wish, you can also group several hours together, for example having num=0 for 0:00AM-6:00AM; num=1 for 6:00AM-12:00AM...
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="hour" type="activityDistributionElementType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="activityPerDay" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The goal of this part is to show the distribution of time spent on the platform for each day of the sequence (sum made on all sequences), and the distribution in terms of total number of actions performed by the learner on the platform. Thus for each day of the sequence, 2 indicators are contained : the percentage concerning the time, and the percentage concerning the number of actions.
						Each day is characterized by a number which is its place in the sequence (1,2,...)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="day" type="activityDistributionElementType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="activityPerSequence" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The goal of this part is to show the distribution of time spent on the platform for each sequence of a MOOC, and the distribution in terms of total number of actions performed by the learner on the platform. Thus for each sequence of a MOOC, 2 indicators are contained : the percentage concerning the time, and the percentage concerning the number of actions.
						Each sequence is characterized by a number ('num' attribute)
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sequence" type="activityDistributionElementType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="lastVisitsType">
		<xs:annotation>
			<xs:documentation>
				Contains the dates of the last(s) connection(s) of the learner to the platform
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="visit" type="xs:dateTime" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="preDeadlineSubmissionTimeType">
		<xs:sequence>
			<xs:element name="sequence" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Name is the name given to the sequence ('Sequence1', 'S1',...) and hoursBeforeDeadline is the average, for all problems the learner has to submit during the sequence, of time he had before the deadline when he submitted his work, expressed in hours. For example, if all homeworks are due on Sunday at 11.59 PM, and learner submits one on Saturday at 6.00PM and the other one on sunday 8.00 PM, result is (30 + 4) / 2 = 17 
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string"/>
						<xs:element name="hoursBeforeDeadline" type="xs:integer"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="activityDistributionElementType">
		<xs:annotation>
			<xs:documentation>
				In our distributions (activity per day, per hour...), we consider distribution in terms of time and in terms of number of actions. This element contains these two values for a particular element of a distribution.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="timePercentage" type="percentageType" minOccurs="0"/>
			<xs:element name="actionsPercentage" type="percentageType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="num" type="xs:nonNegativeInteger" use="required"/>
	</xs:complexType>
</xs:schema>
